html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    padding: 20px 130px;
}

img {
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 2px rgb(0, 0, 0.25);
    padding: 10px;
    border: 2px solid black;
}

.blockquote-container {
    display: flex;
}

blockquote {
    font-family: Georgia, serif;
    border-left: 3px solid lightgray;
    padding-left: 24px;
    font-style: italic;
    color: #757171;
}

.author {
    display: block;
    text-align: right;
    margin-top: 32px;
}

h1, h2, h3, h4, h5, h6 {
    font: 1em/1.2 Georgia serif;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex-basis: 65%;
}

aside {
    flex-basis: 30%;
}

.site-header {
    flex-basis: 100%;
    border-bottom: 1px solid black;
}

.site-title {
    text-transform: uppercase;
    font-size: 40px;
    margin: 10px 0;
    font-weight: bold;
}

.first-image {
    float: right;
    margin-left: 41px;
    margin-bottom: 20px;
}

main {
    margin-right: 25px;
}

.nature-article {
    margin-top: 50px;

}

.nature-article-title {
    float: left;
    margin-right: 50px;
    margin-bottom: 40px;
}