html {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1, h4 {
    font-family: Georgia, sans-serif;
}

.subheading {
    font-weight: 300;
}

.subheading, p {
    color: #757575;
}

main {
    max-width: 850px;
    margin: 50px auto;
}

.section-button, .section-text {
    display: inline-block;
    vertical-align: bottom;
}

.section-text {
    width: 40%;
    margin-left: 20%;
}

.section-button article button {
    background: #03a87c;
    border-radius: 3px;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 13px 60px;
    margin-bottom: 17px;
}

hr {
    margin: 40px auto 0 auto;
    width: 40%;
    border: none;
    height: 1px;
    background: lightgray;
}

span {
    background: #cefde9;
}


