@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

main {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

.stats-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #252525;
    padding: 70px 100px;
    vertical-align: middle;
    height: 100%;
}

.stats-projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stats-number {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stats-type {
    color: #ffb600;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
}