body {
    background: #eeeeee;
}

body, ul, li {
    display: flex;
}

ul {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 65px 160px;
}

li {
    background: white;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
}

li img {
    object-fit: contain;
}