body {
    font-family: Helvetica, sans-serif;
    background: rgb(238, 238, 238);
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.card-layout {
    max-width: 1400px;
    margin: 70px auto;
}

.card {
    box-shadow: 0 0 1px black;
    border-radius: 6px;
    margin: 20px ;
    max-width: 350px;

}

.card-content-title {
    font-size: 33px;
    font-family: Georgia, serif;
}

.card-header img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card-content, .card-footer {
    padding: 15px;
}

.card-footer {
    border-top: 1px solid lightgray;
}

.masonry .card {
    display: inline-block;
    vertical-align: top;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex .card-layout-title {
    flex-basis: 100%;
}

.flex .card {
    display: flex;
    flex-direction: column;
}

.flex .card .card-content {
    flex-grow: 1;
}

