html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

section {
    max-width: 70vw;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    flex-basis: 30%;
}